/* style sheet for all 3 pages */

h1,
h3,
h4 {
    font-family: Impact, "Haettenschweiler", 'Arial Narrow Bold', sans-serif;
    color: #db3000;
    stroke-width: 1.5px;
}

h1 {
    font-size: 45px;
    font-weight: 700;
}

h3 {
    font-size: 32px;
    font-weight: 500;
}

h4 {
    font-size: 28px;
    font-weight: 300;
}

body {
    background-color: #d4d4d4;
    padding: 0px, 0px, 15px, 15px;
}

.bodyContent {
    padding: 100px, 100px, 15px, 15px;
    margin-inline-start: auto;
    margin-inline-end: auto;
    width: fit-content;
    max-width: 1200px;
}

.bodyContent div {
    width: fit-content;
    margin-inline-start: auto;
    margin-inline-end: auto;
}

.linkList {
    background-color: white;
    width: fit-content;
    height: fit-content;
    border-radius: 10px;
    padding: 12px 24px;
}

h1, 
.linkList {
    display:block;
}

.navLink {
    display: inline-block;
    margin-right: 25px;
    margin-left: 25px;
    padding: 8px;
    background-color: #d4d4d4;
}

a {
    color: #001730;
}

.ingredientsList li, 
.ingredientsList ul li,
.stepList li, 
.stepList ul li,
.descriptionP {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #001730;
}

#descriptionPAndImg {
    border: 2px solid black;
    margin-top: 64px;
    width: fit-content;
}

.gridMetaContent,
img {
    display: inline-block;
}

.gridMetaContent {
    width: 500px;
}
